* {
  color: white;
  background-color: #202020;
}

body {
  font-size: .875rem;
  background-color: #202020;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  color: white;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /*48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  color: white;
  background-color: #202020;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #202020;
}

.sidebar .nav-item {  
  color: white;
}

.sidebar .nav-link {
  font-weight: 500;
  color: grey;
  background-color: #202020;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: magenta;
}

.sidebar .nav-link.active {
  color: paleturquoise;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  color: white;
}

/*
 * Navbar
 */

/*  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
*/

/* <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"> */

 .navbar {
  background-color: #484848;
  color: white;
 }

 /* <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Outdoor Adventures</a> */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  color: white;
  background-color: #484848;
  box-shadow: inset -1px 0 0 #202020;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

/*<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">*/

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  color: white;
  background-color: #484848;
}

.form-control-dark {
  color: white;
  background-color: #484848;
}

.form-control-dark:focus {
  border-color: transparent;
}

/*<a class="nav-link px-3" href="#">Sign out</a>*/

.nav-link {
  color: white;
  background-color: #484848;
}

