body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

 .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-left: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  left: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*
* {
  color: white;
  background-color: #202020;
}

body {
  font-size: .875rem;
  background-color: #202020;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  color: grey;
}

 .container-fluid {
  background-color: #202020;
 }

 .row {
  background-color: #202020;
 }

 #sidebarManu {
  background-color: #202020;
 }

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  
  bottom: 0;
  /* rtl:remove 
  left: 0;
  z-index: 100; /* Behind the navbar 
  padding: 100px 0 0; /*48px 0 0; /* Height of navbar 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  /*color: red;
  background-color: red;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. 
  /*color: orange;
  background-color: orange;
}

/*.sidebar .nav-item {  
  color: purple;
}

.sidebar .nav-link {
  font-weight: 500;
  color: white;
  background-color: #202020;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: rgb(103, 6, 214);
  /*color: magenta;
}

.sidebar .nav-link.active {
  color: rgb(103, 6, 214);
}

/* doesn't change icon color
.home {
  color: rgb(103, 6, 214);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  color: yellow;
}

/*  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">

/* <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"> 

 .navbar {
  background-color: #484848;
  color: white;
 }

 /* <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Outdoor Adventures</a> 

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  color: white;
  background-color: #484848;
  box-shadow: inset -1px 0 0 #202020;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

/*<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  color: white;
  background-color: #484848;
}

.form-control-dark {
  color: white;
  background-color: #484848;
}

.form-control-dark:focus {
  border-color: transparent;
}

/*<a class="nav-link px-3" href="#">Sign out</a>

.nav-link {
  color: white;
  background-color: #484848;
}

*/
